# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints
.pytest_cache/

# Local Environment & Configurations
config.json
.venv/
venv/
ENV/
env/

# IDEs
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# PyInstaller / Packaging
build/
dist/
*.spec
